@model OtherServices2.Models2.ServicePortal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ServicePortal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdServicePortal" />
            <div class="form-group">
                <label asp-for="ServiceName" class="control-label"></label>
                <input asp-for="ServiceName" class="form-control" />
                <span asp-validation-for="ServiceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceThumbnail" class="control-label"></label>
                <input asp-for="ServiceThumbnail" class="form-control" />
                <span asp-validation-for="ServiceThumbnail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceDescription" class="control-label"></label>
                <input asp-for="ServiceDescription" class="form-control" />
                <span asp-validation-for="ServiceDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeProcedure" class="control-label"></label>
                <input asp-for="TypeProcedure" class="form-control" />
                <span asp-validation-for="TypeProcedure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeProcedureThumb" class="control-label"></label>
                <input asp-for="TypeProcedureThumb" class="form-control" />
                <span asp-validation-for="TypeProcedureThumb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeCostThumb" class="control-label"></label>
                <input asp-for="TypeCostThumb" class="form-control" />
                <span asp-validation-for="TypeCostThumb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeMinute" class="control-label"></label>
                <input asp-for="TimeMinute" class="form-control" />
                <span asp-validation-for="TimeMinute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeTimeThumb" class="control-label"></label>
                <input asp-for="TypeTimeThumb" class="form-control" />
                <span asp-validation-for="TypeTimeThumb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhenToDo" class="control-label"></label>
                <input asp-for="WhenToDo" class="form-control" />
                <span asp-validation-for="WhenToDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhenToDoThumb" class="control-label"></label>
                <input asp-for="WhenToDoThumb" class="form-control" />
                <span asp-validation-for="WhenToDoThumb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parameter" class="control-label"></label>
                <input asp-for="Parameter" class="form-control" />
                <span asp-validation-for="Parameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginRequired" class="control-label"></label>
                <input asp-for="LoginRequired" class="form-control" />
                <span asp-validation-for="LoginRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Href" class="control-label"></label>
                <input asp-for="Href" class="form-control" />
                <span asp-validation-for="Href" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderList" class="control-label"></label>
                <input asp-for="OrderList" class="form-control" />
                <span asp-validation-for="OrderList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <br />
            <div>
                <label>Seleccione Imagen</label>
                <br />
                <input accept="image/svg" type="file" name="Imagen" id="Imagen" />
            </div>
            <br />
            <div>
@*                <img src="data:image/png;base64,@(Model.ServiceThumbnail != null? Convert.ToBase64String(Model.ServiceThumbnail):"")" id="ImagenPng" width="200" height="200" />
*@
@*                <img src="data:image/svg;@(Model.ServiceThumbnail != null? Convert.ToBase64String(Model.ServiceThumbnail):"")" id="ImagenPng" width="200" height="200" />
*@</div>
            <br />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <script>
        let inputFoto = document.getElementById("Imagen");
        function handleFoto() {
            let filesList = this.files;
            if (filesList.length > 0) {
                let item = filesList[0];
                function readFoto(event) {
                    let img = new Image();
                    let fileImage = event.target.result;
                    document.getElementById("ImagenPng").src = fileImage;
                }
                let readerFoto = new FileReader();
                readerFoto.addEventListener('load', readFoto);
                readerFoto.readAsDataURL(item);
            }
        }
        inputFoto.addEventListener("change", handleFoto, false);
    </script>