@model OtherServices2.Models2.VigenciaCupo

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Tercero</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaDesde" class="control-label">Fecha Desde</label>
                <input asp-for="FechaDesde" class="form-control" />
                <span asp-validation-for="FechaDesde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHasta" class="control-label">Fecha Hasta</label>
                <input asp-for="FechaHasta" class="form-control" />
                <span asp-validation-for="FechaHasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jornada" class="control-label">Jornada</label>
                <input asp-for="Jornada" class="form-control" />
                <span asp-validation-for="Jornada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocIdentTercero" class="control-label">Documento</label>
                <select asp-for="DocIdentTercero" class="form-control" asp-items="ViewBag.DocIdentTercero"></select>
                <span asp-validation-for="DocIdentTercero" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="IdCupo" />
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a class="btn btn-warning me-3" asp-action="">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
